# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Environment variables
.env

# macOS
.DS_Store

# Virtual environments
env/
venv/
.venv/

# Testing
.coverage
.tox
.pytest_cache/
*.egg-info/
.cache

# IDEs and editors
.vscode/
.idea/

# Build and distribution
build/
dist/
*.egg
*.egg-info
*.eggs

# flake8
.flake8

# Extra file
commands.txt